<style type="text/css">
.balance {
	font-size: 72px;
	font-weight: 200;
}
</style>
<div class='text-center'>
	<h3>CREDIT</h3>
	<h1 id='blnc' class='balance'>
		$<%= current_user.balance %>
	</h1>
	<p>
		<img src="<%= current_user.qr_code_link %>">
	</p>
	<p>
		<a class='btn btn-block btn-danger btn-lg' id='charge'>Charge $4</a>
	</p>
</div>

<script type="text/javascript">
$('#charge').click(function() {
	location.href= '/charge';
});
</script>

<script type="text/javascript">
function updateBalance() {
	$.ajax({
	  url: "/api/get_balance",
	  data: {
	  	token: __TOKEN,
	  	id: __ID
	  }
	}).done(function(data) {
	  $('#blnc').text("$"+data["balance"]);
	});
}

setInterval(updateBalance, 1000);
</script>