<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>PetsNation - Login</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="/assets/plugins/jquery-ui-1.10.4/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
	<link href="/assets/plugins/bootstrap-3.1.1/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/assets/plugins/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />
	<link href="/assets/css/animate.min.css" rel="stylesheet" />
	<link href="/assets/css/style.css" rel="stylesheet" />
	<link href="/assets/css/style-responsive.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->

	<style type="text/css">
	.login {
		max-width: 500px;
		margin: 0 auto;
		overflow: hidden;
	}

	.logo {padding: 2em 0;}

	.center-modal > div, .form > div {
		margin-bottom: 0.5em;
	}

	.center-modal > div.actions, .form > div.actions {
		margin: -1.25em;
		margin-top: 1em;
		padding: 1em;
		border-top: solid 1px #eee;
		background: #f6f6f6;	
	}	
	</style>
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade" style='padding: 1em;'>
	    <!-- begin login -->
        <div class="login panel panel-inverse">
            <div class="panel-body">
                <div class='logo text-center'>
                	<img style='max-width: 80%' src="/logo.png">
                </div>
                <% if notice %>
                <div class="alert alert-success fade in">
					<%= notice %>
					<span class="close" data-dismiss="alert">×</span>
				</div>
				<% end %>
				<% if alert %>
				<div class="alert alert-danger fade in">
					<%= alert %>
					<span class="close" data-dismiss="alert">×</span>
				</div>
				<% end %>
                <%= yield %>
                <!-- <form class="form-horizontal" action="" method="POST">
                    <fieldset>
                        <legend>Welcome Back!</legend>
                        <div class="form-group">
                            <label class="col-md-4 control-label ui-sortable">Email address</label>
                            <div class="col-md-8 ui-sortable">
                                <input type="email" class="form-control" placeholder="Enter email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label ui-sortable">Password</label>
                            <div class="col-md-8 ui-sortable">
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4 ui-sortable">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Check me out
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4 ui-sortable">
                                <button type="submit" class="btn btn-sm btn-primary m-r-5">Login</button>
                                <button type="submit" class="btn btn-sm btn-default">Cancel</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div> -->
        </div>
        <!-- end login -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="/assets/plugins/jquery-1.8.2/jquery-1.8.2.min.js"></script>
	<script src="/assets/plugins/jquery-ui-1.10.4/ui/minified/jquery-ui.min.js"></script>
	<script src="/assets/plugins/bootstrap-3.1.1/js/bootstrap.min.js"></script>
	<!--[if lt IE 9]>
		<script src="/assets/crossbrowserjs/html5shiv.js"></script>
		<script src="/assets/crossbrowserjs/respond.min.js"></script>
		<script src="/assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="/assets/js/apps.min.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
</body>
</html>